<section class="list">
    <p>
        Listas de los paises del mundo
    </p>
    <ul>
        <li *ngFor="let country of countries">
            {{country.name.official}}-{{country.name.common}}
        </li>
        
    </ul>
</section>


<div class="home">
    <form #form="ngForm" (ngSubmit)="Submit()"  >
        <label>Nombre</label>
        <input name="name" type="text" [(ngModel)]="newCountry.name" #countryName="ngModel">
        <span *ngIf="countryName.invalid">Este campo es requerido</span>
        <span *ngIf="countryName.valid">Felicitaciones</span>
      
        <br>
        <label>Capital</label>
        <input name="capital" type="text" [(ngModel)]="newCountry.capital"  #countryCapital="ngModel"/>
        <button type="submit" (click)="saveCountry">Submit</button>
      </form>
      
      <pre> {{ newCountry | json }} </pre>
      
      <ul>
        <li *ngFor="let country of countries">
          {{ country.name }}
          {{ country.capital + Sufijo }}
        </li>
      </ul>

</div>







